#tabelaManifestacija tr td{
padding-left: 10%;
padding-right: 10%;
padding-top: 5vh;
padding-bottom: 5vh;

}
.manifestacija{
    background-color: rgb(130, 0, 0);
    border-radius: 15px;
    border-style: groove;
    border-color: white;
    border-width: 5px;
    padding: 15px;
    height: 50vh;
    width: 20vw;
    font-family: sans-serif;
}
.slikaContainer{

    border-radius: 10px;
    background-color: darkslateblue;
    height: 50%;
    /*width: 80%;*/
}
.slikaContainer div{
    margin-top: -15%;
    color: rgb(255, 255, 255);
    font: bolder;
    margin-left: 5%;
    color: black;
}
.slika{
    border-radius: 10px;
    height: 100%;
    width: 100%;

}
.cena{
   border-radius: 5px;
/*    background-color: rgba(255, 255, 255,0.7);
 */
   background-color: white;
   padding: 8px;
   margin-left: 30%;
   margin-bottom: -2%;
   font-weight: bolder;
   font-weight: 800;
   border: 3px;
   border-style: outset;
   visibility: hidden;
}

.manifestacija:hover .cena {
    visibility: visible;
  }


.naziv{
    font: bolder;
    color: white;
    font-variant-caps: petite-caps;
    

}
.mesto{
    color: white;
}
.mesto h5{
    margin: 0px;

}
.mesto h6{
    margin: 0px;
    margin-left: 2%;
    margin-bottom: 0px;
    color: rgba(255, 255, 255,0.85);
}
.datum{
    margin-left: 0px;
}
.datum h5 span{
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    padding: 5px;
    background-blend-mode: soft-light;
    border-style: ridge;
    border-color: white;
}

#tabelaDole{
    margin-left: -5%;
}